* {
    box-sizing: border-box;

}

 body {
    background-color: hsl(212, 45%, 89%);
    max-width: 100%;
 }

 .background {
  display: flex;
  justify-content: center;   
  align-items: center;      
  width: 100%;
  min-height: 100vh;
 }


 .content {
    background-color: white;
    width: 280px;
    height:490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:  15px;
 } 

 .myimage {
    margin-top:15px;
   border-radius:  15px;
   width: 265px;
 }

 h1 {
   color: hsl(216, 15%, 48%);
   font-size: 20px;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 700px;
  
 }
 
 p { 
   font-size:15px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 400px;
   color:hsl(218, 44%, 22%)
 }

@media (max-width:375px) {
  .content {
    width:250px;
    height:450px; 
  }
  .myimage {
    width: 235px;
  }
}
 

